@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
    color: #121212;
    transition: color 0.3s ease;
}

a:hover {
    color: #00246B !important;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
}

/* NAV BAR */

nav {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
}

nav .nav-links, footer .top ul {
    display: flex;
    gap: 16px;
    font-weight: 600;
}

nav .nav-links a {
    font-size: 15px;
}

/* MAIN SECTION */

.main {
    background-color: #deebee;
    padding: 90px 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    min-height: calc(100vh - 80px);
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3 {
    margin: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    color: #636363;
}

.main .left h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.main .left h5 {
    font-size: 50px;
    font-weight: 600;
    line-height: 54px;
}

.main .left p {
    color: #121212;
    font-size: 15px;
    margin-top: 20px;
}

.main .left a {
    margin-top: 40px;
    color: white;
    cursor: pointer;
    background-color: #00246B;
    padding: 12px 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 12px;
}

.main .left a:hover {
    background: #000435;
    color: white !important;
}

.main .right img {
    height: 440px;
    border-radius: 40px;
}

/* WORK/EXPERIENCE SECTION */

.experience {
    padding: 90px 540px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experience h5 {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: #deebee;
    text-decoration-thickness: 4px;
}

.experience .item {
    margin: 14px 0px;
}

.experience .item {
    display: flex;
    justify-content: space-between;
}

.experience .item .right {
    text-align: right;
    font-weight: bold;
}

.experience .item .left p:last-child {
    color: #636363;
}

.experience a {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

/* ABOUT SECTION */
.about {
    background-color: #deebee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.about .container {
    width: 720px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.about .container h5 {
    margin-top: 20px;
    font-size: 18px;
    color: #00246B;
}

.about .container #first {
    margin-top: 30px;
}

.about .container p {
    margin: 50px 0px;
    font-size: 16px;
}

.about .container #last {
    margin-bottom: 14px;
}

.about .container a i {
    font-size: 28px;
}

/* PROJECTS SECTION */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 40px;
}

.wind,
.fluids,
.rocket {
    margin: 40px;
    padding: 40px 70px;
    background-color: #deebee;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
}

.wind .work-info,
.fluids .work-info,
.rocket .work-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.wind .work-info .category,
.fluids .work-info .category,
.rocket .work-info .category {
    color: #8695a4;
    font-size: 16px;
}

.wind .work-info .year-badge,
.fluids .work-info .year-badge,
.rocket .work-info .year-badge {
    background-color: #00246B;
    padding: 2px 14px;
    color: white;
    border-radius: 16px;
    font-weight: bold;
}

.wind .grid,
.fluids .grid,
.rocket .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    place-items: center;
}

.winds .grid .image img,
.fluids .grid .image img,
.rocket .grid .image img,
.rocket .grid .image video {
    width: 400px;
    border-radius: 20px;
}

.wind .grid .explain,
.fluids .grid .explain,
.rocket .grid .explain {
    width: 400px;
}

.wind .grid .image img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

/* FOOTER */

footer {
    background-color: white;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator {
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom {
    font-size: 12px;
}

footer .bottom .links a {
    font-size: 12px;
    margin-left: 14px;
}

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 1780px) {

    /* body {
        border: 5px solid yellow;
    } */

    nav {
        padding: 0 200px;
    }

    .main {
        padding: 200px 100px;
    }

    .main .right img {
        height: 300px;
    }

    .experience {
        padding: 90px 200px 20px;
    }
}

@media screen and (max-width: 1200px) {

    /* body {
        border: 5px solid green;
    } */

    .main .right img {
        height: 400px;
    }

    .main {
        flex-direction: column-reverse;
        height: auto;
        padding: 100px 100px;
        gap: 30px;
    }

    .experience .item .right {
        display: none;
    }

    .wind .grid,
    .fluids .grid,
    .rocket .grid {
        gap: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {

    /* body {
        border: 5px solid blue;
    } */
    
    nav {
        padding: 0px 100px;
    }

    .main .right img {
        height: 300px;
    }

    .main .left h5 {
        font-size: 34px;
    }

    .experience {
        padding: 90px 100px 20px;
    }

    .wind .grid,
    .fluids .grid,
    .rocket .grid {
        gap: 20px;
        font-size: 12px;
    }

    .winds .grid .image img,
    .fluids .grid .image img,
    .rocket .grid .image img,
    .rocket .grid .image video {
        width: 280px;
    }

    .wind .grid .explain,
    .fluids .grid .explain,
    .rocket .grid .explain {
        width: 280px;
    }

    .wind .grid .image img {
        width: 280px;
        height: 280px;
    }

    footer .top ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    /* body {
        border: 5px solid orange;
    } */
    
    nav {
        padding: 0px 40px;
    }

    .main .left h5 {
        font-size: 24px;
    }

    .main .left h3 {
        font-size: 14px;
    }
    
    .main .left h2 {
        font-size: 14px;
    }
    
    .main .left p {
        font-size: 14px;
    }

    .experience {
        padding: 90px 80px 20px;
    }

    .experience h5 {
        font-size: 16px;
    }
    
    .experience .item {
        font-size: 14px;
    }

    .about .container h5 {
        font-size: 16px;
    }

    .about .container p {
        font-size: 14px;
    }

    .wind,
    .fluids,
    .rocket {
        padding: 30px;
    }

    .wind .grid,
    .fluids .grid,
    .rocket .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        font-size: 10px;
    }

    .fluids .grid .image1,
    .rocket .grid .image1 {
        grid-area: 1 / 1;
    }

    .fluids .grid .image2,
    .wind .grid .image2 {
        grid-area: 3 / 1;
    }

    .winds .grid .image img,
    .fluids .grid .image img,
    .rocket .grid .image img,
    .rocket .grid .image video {
        width: 100%;

    }

    .wind .grid .explain,
    .fluids .grid .explain,
    .rocket .grid .explain {
        width: 100%;
    }

    .wind .grid .image img {
        width: 100%;
        height: auto;
    }

    footer {
        padding: 85px 42px;
    }

    footer .bottom {
        flex-direction: column;
        gap: 14px;
    }
}

@media screen and (max-width: 576px) {

    /* body {
        border: 5px solid red;
    } */

    nav {
        justify-content: center;
    }

    nav .logo {
        display: none;
    }

    .main {
        padding: 100px 40px;
    }

    .main .right img {
        height: 200px;
    }

    .experience {
        padding: 90px 40px 20px;
    }

    .experience h5 {
        font-size: 14px;
    }
    
    .experience .item {
        font-size: 12px;
    }

    .about {
        padding: 60px 30px;
    }

    .about .container h5 {
        font-size: 14px;;
    }

    .about .container p {
        margin: 30px 0px;
        font-size: 14px;
    }

    .about .container a i {
        font-size: 18px;
    }

    .projects {
        gap: 8px;
    }

    .wind,
    .fluids,
    .rocket {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .projects h1,
    .projects .work-info .year-badge,
    .projects .work-info .category p {
        font-size: 12px;
    }

    .wind .grid,
    .fluids .grid,
    .rocket .grid {
        gap: 18px;
        font-size: 10px;
    }
}